<div class="container">

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <div class="card-body">
                    <a href="#" target="_blank" rel="noopener noreferrer"><h5 class="card-title" >Repo Name</h5></a>
                    <h5 class="card-subtitle text-muted">Language</h5>
                    <p class="card-text"> Description </p>
                    <ul class="list-group-horizontal">
                        <li class="list-group-item">star</li>
                        <li class="list-group-item">eye</li>
                        <li class="list-group-item">fork</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>