
<div class="container m-5 border">

    <div class="row">
        <div class="col-sm-3">
            <img src={{user.avatar_url}}  alt="Profile Image" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-5 m-5"> 
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item" *ngIf="user.email" >
                        email:{{user.email}}
                    </li>
                    <li class="list-group-item" *ngIf="user.hireable" >
                       Hirable: {{ user.hireable}}
                    </li>
                    <li class="list-group-item" *ngIf="user.blog" >
                        Blog: {{user.blog}}
                    </li>
                    <li class="list-group-item" *ngIf="user.email">
                        <a href="emailto:{{user.email}}" target="_blank" rel="noopener noreferrer">{{user.email}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div >
                <p >
                    <span class="m-1 badge bg-secondary">
                       Followers : {{user.followers}} 
                    </span>
                    <span class="m-1 badge bg-primary">
                         {{user.following}} Following
                    </span>
                    <span class="m-1 badge bg-warning">
                       Public Gist {{user.public_gists}}
                    </span>
                    <span class="m-1 badge bg-success">
                        public Repo {{user.public_repos}}
                    </span>
                </p>
            </div>
            <a  href="{{user.html_url}}"class="btn btn-outline-secondary btn-sm m-1" >Go to Github Page <i class="fa fa-github lead" aria-hidden="true"></i>
            </a>
            <a  class="btn btn-outline-secondary btn-sm m-1"  (click)="goToRepos()" >Go to View Repos <i class="fa fa-github lead" aria-hidden="true"></i>
            </a>


        </div>
    </div>
</div>