
<div class="container m-5">

    <div class="row">
        <div class="col-md-5">
            <img src="" alt="Profile Image" class="img-fluid rounded-circle">
            <p> </p>
        </div>
        <div class="col-md-5">
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item" >
                        email
                    </li>
                    <li class="list-group-item" >
                        hirebale
                    </li>
                    <li class="list-group-item" >
                        blog
                    </li>
                    <li class="list-group-item" >
                        <a href="emailto:barkotenicholas@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div >
                <p >
                    <span class="m-1 badge bg-secondary">
                       Followers 
                    </span>
                    <span class="m-1 badge bg-primary">
                         Following
                    </span>
                    <span class="m-1 badge bg-warning">
                       Public Gist
                    </span>
                    <span class="m-1 badge bg-success">
                        public Repo
                    </span>
                </p>
            </div>
            <a  class="btn btn-sm btn-success"  (click)="goToRepos()" >Go to github page</a>
        
        </div>
    </div>
</div>